.navbar {
    padding: 10px ;
    background-color: black;
}
.navleftsection>a{
    color: white;
    background-color: black;
}
.navrightsection>a{
    color: white;
}
.col-3-icon {
    text-align: center;
padding: 40px;
font-size: x-large;
}
.maps-text {
    background-color: white;
    display: flex;
    justify-content: right;
    text-align: right;
    height: 580px;
    width: 600px;
    
}
button {
    color: rgb(255, 255, 255);
    background-color: rgb(203, 23, 23);
    border: 1px solid rgb(203, 23, 23);
}
