.text1 {
    font-size: 1rem;
    display: flex;

}
div {
    background-color: rgb(216, 250, 250);
    height: 400px;
}
img {
    width: 300px;
    margin-top: 10px;
}
.container2 {
    display: flex;
    justify-content: space-evenly;}
    
.text2 {
    font-size: 1rem;
    display: flex;
}
.container3 {
display: flex;
  justify-content: space-evenly;
 
}
.container4 {

}
